* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 62.5%;
}
body {
  line-height: 1;
  background-image: linear-gradient(
      rgba(236, 229, 221, 0.95),
      rgba(236, 229, 221, 0.95)
    ),
    url(../imgs/background.webp);
  min-height: 100vh;
}
.container {
  padding: 20rem 5rem 0 5rem;
  max-width: 104.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
}
.img-box {
  justify-self: end;
}
.image {
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.text-box {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}
.primary-heading {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 0.45;
  letter-spacing: -0.5px;
  margin: 2rem 0;
}
.secondary-heading {
  margin-top: 0;
}
.input-box {
  font-family: inherit;
  border: none;
  padding: 1.3rem 4rem 1.3rem 1.2rem;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  box-shadow: inset 0 0 0 2px #aaa;
  align-self: stretch;
}
.input-box--password::placeholder {
  color: #555;
}
.input-box--password {
  width: 100%;
  font-weight: 600;
}
.password-box {
  position: relative;
}
.email-box {
  position: relative;
}
.email-box .input-box {
  width: 100%;
  padding-left: 4rem;
}
.icon,
.icon:link,
.icon:visited {
  position: absolute;
  font-size: 1.6rem;
  top: 1.4rem;
  right: 1.4rem;
}

.icon:hover,
.icon:active {
  cursor: pointer;
}
.email-box .icon {
  font-size: 1.6rem;
  top: 1.4rem;
  left: 1.4rem;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remeber-me {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #111;
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 0.8;
}
.check-box {
  width: 2rem;
  height: 2rem;
}
.forget-password:link,
.forget-password:visited {
  color: #000000;
  font-size: 1.3rem;
  line-height: 0.8;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  margin-right: 4rem;
  transition: all 0.3s;
}
.forget-password:hover,
.forget-password:active {
  color: #aaa;
}
.btn,
.btn:link,
.btn:visited {
  padding: 1.3rem 0;
  border-radius: 0.4rem;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.075);
  font-size: 1.3rem;
  border: none;
  transition: all 0.3s;
}
.btn:hover,
.btn:active {
  cursor: pointer;
}

.btn--form {
  background-color: #103d2a;
  color: #fff;
}
.btn--form:hover,
.btn--form:active {
  background-color: #28503f;
}

.subheading {
  color: #000000;
  font-size: 1.5rem;
  line-height: 0.8;
  font-weight: 500;
  align-self: center;
}

.btn--social {
  padding: 1.3rem 2.5rem 1.3rem 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.btn--facebook {
  background-color: #2bc4ff;
}
.btn--facebook:hover,
.btn--facebook:active {
  background-color: #55d0ff;
}
.btn--twitter {
  background-color: #00acee;
}
.btn--twitter:hover,
.btn--twitter:active {
  background-color: #33bdf1;
}
.btn--grey,
.btn--grey:link,
.btn--grey:visited {
  background-color: #9ca2ae;
}
.btn--grey:hover,
.btn--grey:active {
  background-color: #b0b6c2;
}
.register {
  align-self: center;
  gap: 3rem;
  font-size: 1.4rem;
  line-height: 0.8;
}

.sign-up-text {
  color: #111;
  font-weight: 200;
}
.sign-up-btn:link,
.sign-up-btn:visited {
  color: #053e37;
  font-weight: 500;
  transition: all 0.3s;
}
.sign-up-btn:hover,
.sign-up-btn:active {
  color: #37655f;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.smaller-flex-gap {
  gap: 1.5rem !important;
}

.btn--register {
  padding-left: 8rem;
  padding-right: 8rem;
}

.two-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn--large-text {
  padding-left: 4rem;
  padding-right: 4rem;
}
